.app.dark {
    --bg-color: #0e0e75;
    --inverted-bg-color: #cdcdd1;
    --primary-color: #0dbd0d;
    --secondary-color: #049604;
    --inverted-primary-color: #010861;
    --inverted-secondary-color: #01f;
}
