.app.light {
  --bg-color: #cdcdd1;
  --inverted-bg-color: #0e0e75;

  --primary-color: #010861;
  --secondary-color: #0612be;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #0dbd0d;
}
